<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testClasses.CarEMICalculator" />
			<class name="testClasses.HomeLoanEMICalculator" />
			<class name="testClasses.LoanCalculator_EMI_UI_Check" />
			<class name="testClasses.LoanCalculator_Amount_UI_Check" />
			<class name="testClasses.LoanCalculator_Tenure_UI_Check" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
